body {
    background-image: url("background.svg");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    font-family: sans-serif;
	  font-weight: 100;
  }

h1 {
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-size: 6rem;
}

.table-bordered {
  border-top-right-radius: 50px;
  border-top-left-radius: px;
}

table thead, table tbody, table th, table td{
  padding: 20px !important;
  text-align: center;
  vertical-align: middle;
}


